a{
    text-decoration: none;
}

h1{
    font-size: 3.8rem;

    @media screen and (min-width: 766px) {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 3.2rem;

    @media screen and (min-width: 766px) {
        font-size: 3.8rem;
    }
}

p{
    font-size: 1.5rem;
   
    @media screen and (min-width: 766px) {
            font-size: 1.8rem;
        }
}

.grid {
    display: grid;
    row-gap: 0rem;
    @media screen and (min-width: 768px) {
        row-gap: 5rem;
        column-gap: 5rem;
    }
}

@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid--1x3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

.container{
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.btn{
    white-space: nowrap;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: transform 0.3s;

        &:hover {
        
    }
}